<mat-list>
  <p>Submit a new subject</p>
  <mat-list-item>
    <form>
      <mat-form-field>
        <input matInput placeholder="Enter subject's name" [(ngModel)]="subjectInsertName" name="valueInsertName" required>
      </mat-form-field>
      <button mat-button (click)="insert()">Insert</button>
    </form>
  </mat-list-item>
  <h3 mat-subheader>Subjects (Admin)</h3>
  <mat-list-item *ngFor="let sub of subjects$ | async">
    <mat-divider></mat-divider>
    <button mat-button (click)="delete(sub.id)">Delete</button>
    <p mat-line>{{sub.name}}</p>
  </mat-list-item>
</mat-list>