<mat-list>
  <p>Inserisci una nuova materia</p>
  <mat-list-item>
    <form>
      <mat-form-field>
        <input matInput placeholder="Inserisci nome materia" [(ngModel)]="subjectInsertName" name="valueInsertName" required>
      </mat-form-field>
      <button mat-button (click)="insert()">Inserisci</button>
    </form>
  </mat-list-item>
  <h3 mat-subheader>Materie</h3>
  <mat-list-item *ngFor="let sub of subjects$ | async">
    <mat-divider></mat-divider>
    <button mat-button (click)="delete(less.id)">Cancella</button>
    <p mat-line><b>{{sub.name}}</b></p>
  </mat-list-item>
</mat-list>