<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{title}}</h1>
    <span class="spanNav"></span>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="mobileQuery.matches ? 'false' : 'true'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="./home" routerLinkActive="active">Home</a>
        <a mat-list-item routerLink="./booking" routerLinkActive="active">Booking</a>
        <a mat-list-item routerLink="./history" routerLinkActive="active">History</a>
        <br>
        <div *ngIf="(user$ | async).role == 'admin'">
          <mat-label>Admin</mat-label>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="./prenotation" routerLinkActive="active">Prenotation</a>
          <a mat-list-item routerLink="./subjects" routerLinkActive="active">Subjects</a>
          <a mat-list-item routerLink="./history" routerLinkActive="active">Teachers</a>
          <a mat-list-item routerLink="./history" routerLinkActive="active">Courses</a>
        </div>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="nav-sidenav-content-container"><router-outlet></router-outlet> </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>