<mat-list>
  <p>Submit a new course</p>
  <form>
    <mat-list-item>
      <ng-template matStepLabel>Choose subject</ng-template>
      <mat-form-field [formGroup]="subjectFormGroup">
        <input matInput placeholder="Insert subject" formControlName="subjectCtrl" [matAutocomplete]="subjectAuto"
          required>
        <mat-autocomplete #subjectAuto="matAutocomplete">
          <mat-option *ngFor="let option of subjectFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <ng-template matStepLabel>Choose teacher</ng-template>
      <mat-form-field [formGroup]="teacherFormGroup">
        <input matInput placeholder="Insert teacher" formControlName="teacherCtrl"
          [matAutocomplete]="teacherAuto" required>
        <mat-autocomplete #teacherAuto="matAutocomplete">
          <mat-option *ngFor="let option of teacherFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-button (click)="insert()">Insert</button>
    </mat-list-item>
  </form>
  <h3 mat-subheader>Courses</h3>
  <mat-list-item *ngFor="let c of courses$ | async">
    <mat-divider></mat-divider>
    <button mat-button (click)="delete(c.id)">Delete</button>
    <p mat-line>Teacher <b>{{c.teacherSurname}} {{c.teacherName}}</b> is assigned to <b>{{c.subjectName}}</b></p>
  </mat-list-item>
</mat-list>