<mat-list>
  <h3 mat-subheader>Prenotazioni (admin)</h3>
  <mat-list-item *ngFor="let less of lessons$ | async">
    <mat-divider></mat-divider>
    <p mat-line>E' stata prenotata una lezione da <b>{{getUser(less.userID)}}</b> di <b>{{less.subject}}</b> con il docente <b>{{less.teacher}}</b></p>
    <p mat-line>In data: <b>{{less.date}}</b>, Slot: <b>{{less.slot}}</b>
      Status:
      <label class="booked" *ngIf="less.status == 'booked' && !less.done">Prenotata</label>
      <label class="done" *ngIf="less.done">Svolta</label>
      <label class="cancelled" *ngIf="less.cancelled">Cancellata</label></p>
  </mat-list-item>
</mat-list>