<mat-list>
  <h3 mat-subheader>Lessons (admin)</h3>
  <mat-list-item *ngFor="let less of lessons$ | async">
    <mat-divider></mat-divider>
    <button mat-button *ngIf="!less.cancelled && !less.done" (click)="delete(less.id)">Cancella</button>
    <p mat-line>A lesson was booked by <b>{{getUser(less.userID)}}</b> of <b>{{less.subject}}</b> with teacher <b>{{less.teacher}}</b></p>
    <p mat-line>In date: <b>{{less.date}}</b>, Slot: <b>{{less.slot}}</b>
      Status:
      <label class="booked" *ngIf="less.status == 'booked' && !less.done">Booked</label>
      <label class="done" *ngIf="less.done">Done</label>
      <label class="cancelled" *ngIf="less.cancelled">Deleted</label></p>
  </mat-list-item>
</mat-list>